main.container img {
    height: 100%;
    width: 100%;
    background-size: cover;
  }

  main.people img {
    height: 120px;
    width: 120px;
    object-fit: cover;
    background-position: center;
    border-radius: 100px;
  }

  main.menu-bottom img {
    width: 20px;
    height: 20px;
  }